/* smaller than laptop */

@media screen and (orientation: landscape) {
    .hideSmall {
        display: none;
    }
}
/* smaller than laptop */
@media screen and (max-width: 950px) {
    .hideSmall {
        display: none;
    }
}

/* for ipad portrait mode */
@media screen and (min-height: 850px) and (orientation: portrait){
    #wipsSty {
        margin-top: 6vh;
    }
}
/* slider disabled for portrait mobile */
@media screen and (max-width: 900px) and (orientation: portrait){
    .sliding {
        display: none;
    }
}

/* for ipad ;arge portrait */
@media screen and (min-height: 1000px) and (orientation: portrait){
    #wipsSty {
        margin-top: 4.5vh;
    }
}

/* size down nav for smaller phones portrait mode */
@media screen and (max-height: 699px) and (orientation: portrait) {
    .navlink {
        padding: 14px 13px;
        font-size: 12px;
    }
}

/* size down for smaller mobile landscape mode */
@media screen and (max-height: 601px) and (orientation: landscape) {
    .hideSmall {
        display: none;
    }
    #wipsSty {
        margin-top: 13vh;
        
    }
    .navlink {
        padding: 10px 10px;
        font-size: 8px;
    }
}