* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 2vw;
}
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

}

@media only screen and (max-width: 768px){
    #smallscreens {
        display: show;
        font-family: 'Roboto';
    }
    .hideSmall {
        display: none;
    }
    .navlink {
        font-size: 9px;
        padding: 11px 12px;
    }
}


@media only screen and (min-width: 769px){
    #smallscreens {
        display: none;
    }
    
}

body {
    
    background-color: rgb(255, 242, 227);
}

.sliding {
    margin: 0 auto 0 auto;
    width: fit-content;

        display: block;
        position: fixed; 
        bottom: 15px; 
        right: 27px; 
        z-index: 99;  
        border: none; 
        outline: none;  
        padding: 17px; 
        background-color: rgb(54, 52, 196);
        height: fit-content;
        border-radius: 5px;

}

#myRange {
    -webkit-appearance: none;

    height: 11px;
    border-radius: 5px;
    background: #bebdbd;

}


#myRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13.5px;
    height: 30px;
    border-radius: 3.5px;

    background: white;
    cursor: pointer;
}


#headings {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    width: fit-content;
}

#smallscreens {
    width: 75%;
    margin: 0 auto 0 auto;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    
}
h1, h2 {
    color: rgb(51, 48, 221);
    
}

.topnav #myLinks {
    display: none;
}

.navlink {
    color: white;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    
}

.icon {
    position: absolute;
    right: 0;
    display: block;
    top: 0;
    padding: 14px 20px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.3s;
  }

  
  .active {
    
    color: rgb(24, 23, 130);
  }

.sect {
    margin-top: 5vh;
    margin-bottom: 3vh;
    border-top: 0.3vh solid black;
}

p {
    text-align: center;
    font-size: larger;
    font-family: 'Roboto';
}

.head {
    margin-top: 6vh;
    font-weight: bolder;
    font-family: 'Arima Madurai';
}

.w3-white {
    margin-top: 2vh;
}
.contactlink {
    color: blue;
    text-decoration: underline;
    
}
.title {
    font-weight: bold;
    font-style: italic;
}
.yearlabel {
    font-weight: normal;
    font-style: normal;
}
.w3-image:hover {
    cursor: zoom-in;
}
#wipsSty {
    margin-top: 6.8vh;
}

.disableSave {
    user-select: none;
    -webkit-touch-callout: none; /* measures to prevent mobile saving */
    -webkit-user-drag: none;
}

.img {
    pointer-events: none;
}


